.custom-shape-divider-bottom-1662203521 {
  
    width: 100%;
    overflow: hidden;
    line-height: 0;
    
}

.custom-shape-divider-bottom-1662203521 svg {
    position: relative;
    display: block;
    width: calc(120% + 1.3px);
    height: 56px;
}

.custom-shape-divider-bottom-1662203521 .shape-fill {
    fill: #242424;
}

.top{
    transform: rotate(180deg);
}




.custom-shape-divider-top-1662328440 {
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1662328440 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 40px;
}

.custom-shape-divider-top-1662328440 .shape-fill {
    fill: #242424;
}