.custom-shape-divider-top-1662540064 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;

    /* display: none; */
}

.custom-shape-divider-top-1662540064 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 50px;

    /*flip it z axis */
    transform: rotate(180deg);
}

.custom-shape-divider-top-1662540064 .shape-fill {
    
    /* fill: var(--grijs); */
    /* fill: red; */
}

.flip {
    transform: rotate(180deg);
    transform: rotateY(180deg);
}
.grijs{
    fill: var(--grijs) !important;
}
.wit{
    fill: var(--wit) !important;
}
.top{
    top: 0 !important;
}
.relative-position{
    position: relative;
}

/*at 895 pixel width set .custom-shape-divider-top-1662540064 display to none */
/* @media screen and (max-width: 900px) {
    .custom-shape-divider-top-1662540064 {
        display: none;
    }
} */