/* seperate file for font-size */
/*  font sizes will now hopefully be easier to find */


h1{
    font-size: 3.5rem;
}
h2{
    font-size: 2.5rem !important;
}
/*h2 in cards needs to be a bit smaller maybe/probably I should've used h3*/
.logo-title h2{
    font-size: 2rem !important;
}
h4{
    font-size: 1.5rem;
}


.nav-links li a svg{
    height: 20px !important;
}
a.link{
    font-size: 1.5rem;
}

p{
    font-size: 1rem;
}