footer {
    background-color: var(--grijs);
    display: flex !important;
    align-items: center;
    padding-top: 2%;
    justify-content: space-between;


}

.voeter {
    padding-top: 1%;
    padding-bottom: 1%;
    

    display: flex !important;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;

}
.voeter, footer img{
    margin-left: 35px !important;
    margin-right: 35px !important;
}

footer ul {
    display: flex;
    padding-left: 0 !important;
}

footer h4 {
    color: white;
}
.footerLinks li a svg {
    height: 5vh !important;
    
}


p {
    color: var(--grijs);

}

div.skills a {
    margin: 1rem;
}

footer ul li a svg {
    height: 75px;
    width: 75px;
}





@media screen and (max-width: 600px) {

    footer h4 {
        margin: 0 !important;
    }
    .footerlinks svg {
        height: 24px !important;
        width: 24px !important;
    }
}