.particles {
    position: absolute;
    z-index: -1;
    height: 100vh !important;
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;

}

#tsparticles {


    height: 100vh !important;
    width: 100% !important;



}

header {
    min-height: 100vh;
    height: 100vh;
    display: flex !important;
    justify-content: space-between;
}

a.link,
.nav-links li a {
    text-decoration: none;
}


/*remove ul bullet points */
ul {
    list-style-type: none;
    padding-left: 0 !important;
}

/*remove  text decoration on links */
a {
    color: var(--wit) !important;
}

a.link:hover {
    color: var(--wit);
    text-decoration: none;

}

a.link {
    position: relative;
}

a.link:after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}







.fa-cog {
    color: var(--wit);
}

h1,
h4 {
    color: var(--wit);
    margin-left: 2%;
    margin-right: 2%;
}


/*arrow */
@keyframes bounce-up {
    0% {
        bottom: 30px;
    }

    50% {
        bottom: 50px;
    }

    100% {
        bottom: 30px;
    }
}

.drop-down {
    border: solid #fff;
    border-width: 0 2px 2px 0;
    
    

       
    
    padding: 10px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    
    bottom: 50px;
    right: 0;
    margin-right: 55px ;
    margin-bottom: 15px;

    cursor: pointer;
    -webkit-animation-name: bounce-up;
    animation-name: bounce-up;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    z-index: 100;

}



.display-none {
    display: none;
}


@media screen and (min-width: 0px) {
    .pc-visible {
        display: none !important;
    }

    .navbar {

        background-color: #ffffff16;
    }

    .navbar-nav li a {
        display: flex;
        justify-content: space-between;
        max-width: 15%;
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }

    .navbar-nav li svg {
        /* set in the middle of the height */
        margin-top: 1.0vh;
        margin-bottom: 1.0vh;

    }

    .transparent-background {
        background-color: rgba(255, 255, 255, 0) !important;
    }

    .denav {
        display: none;
    }

    .nav-links {
        display: none !important;

    }

    .Logo {
        margin-top: 2vh;
        margin-left: 1.5vh;
        margin-bottom: 1.5vh;
    }

    .Logo:hover {
        transform: scale(1.1);
    }

    header {
        flex-direction: column;
    }





    .nav-links li {
        margin-top: 2vh;

    }

    .naam {
        text-align: center;
        margin-bottom: 50%;



    }

    .naam h1 {
        margin-bottom: 5vh;
        margin-left: 10%;
        margin-right: 10%;
    }


}

@media screen and (min-width: 420px) {
    .nav-links li a svg {
        margin-right: 10px !important;
        margin-left: 25px !important;
    }

    a.link:hover:after {
        transform: scaleY(0.5);
        transform-origin: bottom right;
    }

    .hide-big {
        display: none !important;
    }

    .denav {

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #ffffff00;


    }

    .nav-links {
        align-self: center;
        display: flex !important;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
        /* font-size: 27px; */
        margin-left: 5%;
        margin-right: 5%;


    }




    h4 {

        margin-left: 10%;
        margin-right: 10%;
    }

    .denav {
        position: absolute;
        top: 0;
        /* center the div (no clue why this works but it does)*/
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;


        display: flex;
        flex-direction: column;


    }

    header {
        justify-content: center;
    }

    .naam {
        margin-bottom: 0%;



    }
}

@media screen and (min-width: 600px) {

    .nav-links li a svg {
        margin-right: 15px !important;
        margin-left: 35px !important;
    }


    .Logo {
        padding-top: 2vh;

        align-self: center;
    }




}

@media screen and (min-width: 768px) {
    .pc-visible {
        display: block !important;
    }

    .Logo a img {
        height: 8vh !important;
        width: auto !important;
    }

}

@media screen and (min-width: 900px) {}

@media screen and (min-width: 1024px) {
    a.link {
        margin-left: 1vh;
        margin-right: 1vh;
    }
}

@media screen and (min-width: 1200px) {}