.particles {
    position: absolute;
    z-index: -1;
    height: 100vh !important;
    width: 100% !important;
    min-width: 100%;
    max-width: 100%;

}

#tsparticles {


    height: 100vh !important;
    width: 100% !important;



}

header {
    min-height: 100vh;
    height: 100vh;
    display: flex !important;
    justify-content: space-between;
}

a.link,
.nav-links li a {
    text-decoration: none;
}


/*remove ul bullet points */
ul {
    list-style-type: none;
    padding-left: 0 !important;
}

/*remove  text decoration on links */
a {
    color: var(--wit) !important;
}

a.link:hover {
    color: var(--wit);
    text-decoration: none;

}

a.link {
    position: relative;
}

a.link:after {
    content: '';
    position: absolute;
    transform: scaleX(0);
    width: 100%;
    height: 2px;
    bottom: 0;
    right: 0;
    background-color: var(--accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

a.link:hover:after {
    transform: scaleY(0.5);
    transform-origin: bottom right;
}

.denav {

    display: flex;
    flex-direction: column;


}



.fa-cog {
    color: var(--wit);
}

h1,
h4 {
    color: var(--wit);
    margin-left: 2%;
    margin-right: 2%;
}

.nav-links li svg {
    margin-left: 5vh;
    margin-right: 1.5vh;
}


@media screen and (min-width: 0px) {


    .Logo {
        padding-top: 2vh;
        padding-left: 4vh;
        align-self: center;


    }

    .Logo:hover {
        transform: scale(1.1);
    }

    header {
        flex-direction: column;
    }



    .nav-links {
        align-self: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 27px;
        margin-left: 5%;
        margin-right: 5%;


    }

    .nav-links li {
        margin-top: 2vh;

    }

    .naam {
        text-align: center;
        margin-bottom: 50%;



    }

    .naam h1 {
        margin-bottom: 5vh;
        margin-left: 5%;
        margin-right: 5%;
    }


}

@media screen and (min-width: 420px) {
    .nav-links {
        flex-direction: row;
        font-size: 30px;
    }

    h1 {
        font-size: 65px !important;
        

    }

    h4 {
        font-size: 30px !important;
        margin-left: 10%;
        margin-right: 10%;
    }

    .denav {
        position: absolute;
        top: 0;
        /* center the div (no clue why this works but it does)*/
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        height: 100%;


        display: flex;
        flex-direction: column;


    }

    header {
        justify-content: center;
    }

    .naam {
        margin-bottom: 0%;



    }
}

@media screen and (min-width: 600px) {


    .Logo {
        padding-top: 2vh;

        align-self: center;
    }




}

@media screen and (min-width: 768px) {
    .Logo a img {
        height: 8vh !important;
        width: auto !important;
    }

}

@media screen and (min-width: 900px) {}

@media screen and (min-width: 1024px) {
    a.link {
        margin-left: 1vh;
        margin-right: 1vh;
    }
}

@media screen and (min-width: 1200px) {}