@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}



.skills {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    list-style-type: none;

}

ul.skills li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
ul.skills svg{
    margin-bottom: 15%;
}
.card__face center svg, .skills li svg{
    height: 10vh;
    width: 10vh;
    transition: all .2s ease-in-out;
}


ul svg:hover{
transform: scale(1.1);
}
.rotate:hover {
    animation: rotation 5s infinite linear;
    transform: scale(1.1);
}




@media screen and (max-width: 600px) {
    ul.skills svg {

        height: 50px !important;
        width: 50px !important;
    }

}