@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}



.skills {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
    margin-bottom: 8%;
    list-style-type: none;

}

ul.skills li{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 1rem;
}
ul.skills svg{
    margin-bottom: 15%;
}
.card__face center svg, .skills li svg, .skills li img{
    height: 10vh;
    width: 10vh;
    transition: all 0.4s ease-in-out;
}


ul svg:hover,.skills li img:hover{
transform: scale(1.1);
}


.rotate{
    animation: rotation 5s infinite linear;
    animation-fill-mode: backwards;
    animation-play-state: paused;      
}
.rotate:hover {
    animation-fill-mode: forwards;
    animation-play-state: running;
}




@media screen and (max-width: 600px) {
    ul.skills svg, ul.skills img {

        height: 50px !important;
        width: 50px !important;
    }

}